
canvas.game {
  background: gray;
}

div.button-bar {
  margin-top: 1em;
}

button.control {
  font-size: 4em;
  outline: none;
  cursor: pointer;
  border: solid 1px purple;
  border-radius: 4px;
  background: none;
  padding: 0.1em 0.4em;
  color: purple;
}

button.control:hover {
  background: purple;
  color: white;
}
